.box{
	width:100%;
	height:100%;
}
/*导航*/
.zzt_headbox{
	width: 100%;
	height: 156px;
	margin: 0 auto;
}
.zzt_headone{
	width: 100%;
	height: 11px;
	background: #53cfea;
}
.zzt_headtwobox{
	width: 100%;
	height: 145px;
	background:rgba(21,79,101,1);
}
.zzt_headson{
	width: 1149px;
	height: 100%;
	background:rgba(21,79,101,0);
	margin: 0 auto;
}
.zzt_log{
	width: 76px;
	height: 114px;
	background:url(../imgs./未标题-1_03.png) -10px -2px;
	float: left;
	margin-top: 16px;
}
.zzt_biaotibox{
	width: 1009px;
	height: 100%;
	float: right;
}
.zzt_biaotirignt{
	width: 100px;
	height: 100%;
	float: right;
}
.zzt_yuan1{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: #1bbf9d;
	border: 1px solid #ffffff;
	float: right;
	margin-top:52.5px; 
}
.zzt_yuan2{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: #f0c310;
	border: 1px solid #ffffff;
	float: left;
	margin-top:52.5px; 
}
.zzt_centerbox{
	width: 869px;
	height: 100%;
}
.zzt_sousuo{
	width: 234px;
	height: 42px;
	background:rgba(36,96,121,0.859);
	float: right;
	margin-top: 51.5px;
	border-radius: 22px;
	border: 2px solid  #b7c8d0;
}
.zzt_daozibox{
	width: 587px;
	height: 100%;
}
.zzt_daozison1{
	width: 131px;
	height: 38px;
	border-right:1px dashed #aaaaaa;
	float: left;
	margin-top: 60px;
}
.zzt_zi1{
	font-family: "[SanFranciscoDisplay]";
	font-size: 14px;
	color: #bdbebe;
}
.zzt_tiao{
	width: 56px;
	height: 1px;
	background: #707577;
}
.zzt_yellow{
	width: 6px;
	height: 1px;
	background: #f2c119;
	float: right;
}
.zzt_zi2{
	font-family: "[FZY3FW]";
	font-size: 13px;
	color: #f5f6f7;
	font-weight:bold;
}
.zzt_daoyuan{
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background: #21a26b;
	float: left;
	margin-top: -20px;
	margin-left: 63px;
}
.zzt_daozison2{
	width: 131px;
	height: 38px;
	border-right:1px dashed #aaaaaa;
	float: left;
	margin-left: 20px;
	margin-top: 60px;
}
.zzt_daozison4{
	width: 131px;
	height: 38px;
	float: right;
	margin-top: 60px;
}
.zzt_yellow4{
	width: 6px;
	height: 1px;
	background: #f2c119;
	float: left;
}




/*页脚*/
.zzt_footbox{
	width: 100%;
	height: 304px;
	background: #2d2d2d;
	margin-top:100px;
}
.zzt_footneikuan{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.zzt_footlog{
	width: 76px;
	height: 114px;
	background:url(../imgs./未标题-1_03.png) -10px -2px;
	float: left;
	margin-top: 77px;
	margin-left: 43px;
}
.zzt_jiangebox{
	width: 5px;
	height: 139px;
	float: left;
	margin-left: 72px;
	margin-top: 75px;
	position: relative;
}
.zzt_dixian{
	width: 1px;
	height: 100%;
	background: #4c4b4b;
	margin: 0 auto;
}
.zzt_ditopyuan{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background:#acacac;
	position: absolute;
	left: 0;
	top: 0;
}
.zzt_dibottomyuan{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background:#acacac;
	position: absolute;
	left: 0;
	bottom: 0;
}
.zzt_footcenterbox{
    width: 507px;
    height: 152px;
    float: left;
    margin-left: 44px;
    margin-top: 75px;
}
.zzt_footzi1box{
	width: 462px;
	height: 20px;
	position: relative;
}
.zzt_zidi{
	font-size: 12px;
	float: left;
	color: #a7a5a5;
}
.zzt_zi{
	font-size: 12px;
	float: left;
	margin-left: 33px;
	color: #a7a5a5;
}
.zzt_xuxian{
	width: 172px;
	height: 100%;
	border-bottom: 1px dashed  #575656;
	position: absolute;
	top: 0;
	left: 0;
}
.zzt_footzi2box{
	width: 100%;
	height: 40px;
}
.zzt_banquan{
	font-size: 12px;
	color: #797979;
	line-height: 40px;
}
.zzt_foottubox{
	width: 242px;
	height: 77px;
}
.zzt_weixin{
	width: 55px;
	height: 55px;
	background:url(../imgs./粉丝_031.jpg) -10px -10px;
	float: left;
	margin-top: 11px;
}
.zzt_qq{
	width: 55px;
	height: 55px;
	background:url(../imgs./粉丝_031.jpg) -88px -10px;
	float: left;
	margin-left: 23px;
	margin-top: 11px;
}
.zzt_weibo{
	width: 55px;
	height: 55px;
	background:url(../imgs./粉丝_031.jpg) -165px -10px;
	float: left;
	margin-left: 23px;
	margin-top: 11px;
}
.zzt_erweima{
	width: 120px;
	height: 120px;
	background: #25b0ff;
	float: right;
	margin-top: 92px;
	margin-right: 100px;
}